#latex

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out

#other

fraas.pdf
fraas.out
/venv
venv
.python-version
win26-LF-splake975 # cse 201a materials
101m
cse_16
CSE_16_pub/csvs/
CSE_16_pub/processed/
